@model sclad.Models.Punkt
<form method="post" asp-action="Create">
    <div class="border p-3">

        <div class="mb-3 row">
            <h2 class="text-info pl-3"> ADD Punkt</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Name" class="form-control"/>
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="Adress"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Adress" class="form-control" />
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-4">
                        <label asp-for="Kontakti"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Kontakti" class="form-control" />
                    </div>

                </div>
                <div class="mb-3 row">
                    <div class="col-8 offset-4 row">

                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Создать"/>
                        </div>
                        <div class="col">
                            <a asp-controller="Punkt" asp-action="Index" class="btn btn-success w-100">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>