@model sclad.Models.ViewModels.HomeVM

<div class="container">
    <div class="text-center">
        <button class="btn  btn-dark" id="btnToggle"> type</button>
        <button class="btn  btn-dark filter-button" data-filter="all">All</button>
            @foreach(var obj in Model.ItemTypes)
            {
                <button class="btn btn-outline-secondary filter-button" data-filter="@obj.Name.Replace(' ','_')">
                    @obj.Name
                </button>
            }
    </div>
    <br />
    <div class="row">
        @foreach(var item in Model.Items)
        {
            <partial name="_ItemCart" model="item"/>
            //display vse tovari
        }
    </div>
    <div class="row" style="display:none;">
        <table class="p-0 m-0 table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Наименование
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Тип
                    </th>
                    <th>
                        Пункт
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model.Items)
                {
                    <partial name="_ItemCart2" model="item" />
                    //display vse tovari
                    <br />
                }
            </tbody>
        </table>
        
        
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {

            $(".filter-button").click(function () {

                var value = $(this).attr('data-filter');
                if (value == "all") {
                    $('.filter').show('1000');
                }
                else {
                    $(".filter").not('.' + value).hide('3000');
                    $('.filter').filter('.' + value).show('3000');

                }
            });  
        });

        $(document).ready(function () {
            $("#btnToggle").click(function () {
                $(".row").toggle();
            });
        });
    </script>
}